.vs/
SudokuSolver.sln
SudokuSolver/SudokuSolver.csproj
SudokuSolver/bin/
SudokuSolver/obj/Debug/netcoreapp2.1/SudokuSolver.AssemblyInfoInputs.cache
SudokuSolver/obj/Debug/netcoreapp2.1/SudokuSolver.assets.cache
SudokuSolver/obj/Debug/netcoreapp2.1/SudokuSolver.csproj.CoreCompileInputs.cache
SudokuSolver/obj/Debug/netcoreapp2.1/SudokuSolver.csproj.FileListAbsolute.txt
SudokuSolver/obj/Debug/netcoreapp2.1/SudokuSolver.csprojAssemblyReference.cache
SudokuSolver/obj/Debug/netcoreapp2.1/SudokuSolver.dll
SudokuSolver/obj/Debug/netcoreapp2.1/SudokuSolver.pdb
SudokuSolver/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SudokuSolver/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SudokuSolver/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SudokuSolver/obj/SudokuSolver.csproj.nuget.cache
SudokuSolver/obj/SudokuSolver.csproj.nuget.g.props
SudokuSolver/obj/SudokuSolver.csproj.nuget.g.targets
SudokuSolver/obj/project.assets.json
SudokuSolverTest/SudokuSolverTest.csproj
SudokuSolverTest/bin/
SudokuSolverTest/obj/